<div id="modal-overlay" class="modal-overlay hidden">
  <div id="modal" class="modal">
    <div id="modal-message" class="modal-message"></div>
    <button id="modal-confirm-btn" class="modal-btn modal-submit-btn hidden">Sí</button>
    <button id="modal-cancel-btn" class="modal-btn modal-close-btn hidden">No</button>
    <button id="modal-send-btn" class="modal-btn modal-submit-btn hidden">Enviar</button>
    <button id="modal-close-btn-simple" class="modal-btn modal-close-btn hidden">Cerrar</button>
  </div>
</div>
