<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>PGM · Anuncios</title>
  <link rel="icon" href="img/icologo.png" type="image/icon">
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/anuncios.css">
</head>
<body>
  <header>
    <nav>
      <a href="index.html">INICIO</a>
      <a href="anuncios.html">ANUNCIOS</a>
      <a href="solicitar.html">SOLICITAR</a>
    </nav>
    <div class="logo">
      <img src="img/icologo.png" alt="PGM Logo">
    </div>
    <a href="#" class="profile">
      <img src="img/icoperfil.png" alt="Perfil" width="33">
    </a>
  </header>

  <main>
    <div class="search-bar">
      <input type="text" placeholder="Buscar…">
      <button><img src="img/icobuscar.png" alt="Buscar" width="45"></button>
      <button><img src="img/icofiltro.png" alt="Filtrar" width="45"></button>
    </div>

    <div class="grid items">
      <div class="card"><!-- Aquí la imagen --><div class="footer">Anuncio Recomendado 1</div></div>
      <div class="card"><div class="footer">Anuncio Recomendado 2</div></div>
      <div class="card"><div class="footer">Anuncio Recomendado 3</div></div>
      <div class="card"><div class="footer">Anuncio Recomendado 4</div></div>
      <div class="card"><div class="footer">Anuncio Recomendado 5</div></div>
      <div class="card"><div class="footer">Anuncio Recomendado 6</div></div>
      <div class="card"><div class="footer">Anuncio Recomendado 7</div></div>
      <div class="card"><div class="footer">Anuncio Recomendado 8</div></div>
    </div>
  </main>

  <footer></footer>
  <script src="js/script.js"></script>
</body>
</html>
