<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>PGM · Anuncios</title>
  <link rel="icon" href="/img/icologo.png" type="image/icon">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/anuncios.css">
</head>
<body>
  <header>
    <nav class="nav-wrapper">
      <div class="nav-links">
        <a href="index.html">INICIO</a>
        <a href="anuncios.html" class="indicator">ANUNCIOS</a>
      </div>
    </nav>

    <div class="logo">
      <img src="/img/icologo.png" alt="PGM Logo">
    </div>

      <div class="nav-link-solicitar">
        <a href="solicitar.html">SOLICITAR</a>
      </div>

    <a href="profile.html" class="profile">
      <img src="/img/icoperfil.png" alt="Perfil" width="33">
    </a>

  </header>

  <main>
    <div class="search-bar">
      <input type="text" placeholder="Buscar…">
      <button><img src="/img/icobuscar.png" alt="Buscar" width="45"></button>
      <button><img src="/img/icofiltro.png" alt="Filtrar" width="45"></button>
    </div>

    <div class="grid ads">
      <div class="cardAd"><!-- Aquí la imagen --><div class="footerAd">Anuncio Recomendado 1</div></div>
      <div class="cardAd"><div class="footerAd">Anuncio Recomendado 2</div></div>
      <div class="cardAd"><div class="footerAd">Anuncio Recomendado 3</div></div>
      <div class="cardAd"><div class="footerAd">Anuncio Recomendado 4</div></div>
      <div class="cardAd"><div class="footerAd">Anuncio Recomendado 5</div></div>
      <div class="cardAd"><div class="footerAd">Anuncio Recomendado 6</div></div>
      <div class="cardAd"><div class="footerAd">Anuncio Recomendado 7</div></div>
      <div class="cardAd"><div class="footerAd">Anuncio Recomendado 8</div></div>
    </div>
  </main>

  <footer></footer>
  <script src="/js/scripts.js"></script>
</body>
</html>
