<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PGM · Inicio</title>
  <link rel="icon" href="/img/icologo.png" type="image/icon">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
</head> 
<body>
  <header>
    <nav class="nav-wrapper">
      <div class="nav-links">
        <a href="index.html" class="indicator">INICIO</a>
        <a href="anuncios.html">ANUNCIOS</a>
      </div>
    </nav>

    <div class="logo">
      <img src="/img/icologo.png" alt="PGM Logo">
    </div>

      <div class="nav-link-solicitar">
        <a href="solicitar.html" th:unless="${esAdmin}">SOLICITAR</a>
      </div>

    <a href="profile.html" class="profile">
      <img src="/img/icoperfil.png" alt="Perfil" width="33">
    </a>

  </header>

  <main>
    <div class="grid items">
      <div class="card-container">
        <p class="card-title">VER ANUNCIOS</p>
        <div class="card-content">
          <img src="/img/anunciosimg.png" alt="Ver anuncios" class="card-image1" />
          <a href="anuncios.html" class="card-button">CLICK AQUÍ</a>
        </div>
      </div>

      <div class="card-container">
        <p class="card-title">SOLICITAR PUBLICACIÓN ANUNCIO</p>
        <div class="card-content">
          <img src="/img/solictarimg.png" alt="Solicitar anuncio" class="card-image2" />
          <a href="solicitar.html" class="card-button">CLICK AQUÍ</a>
        </div>
      </div>
    </div>
  </main>


  <footer class="footerSoli">
    ©2025 PGM. Todos los derechos reservados
    <a href="/terminos.html" id="btnTerms" class="btnTerms">
      TÉRMINOS Y CONDICIONES
    </a>
  </footer>
</body>
</html>
