<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>PGM · Inicio</title>
  <link rel="icon" href="../static/img/icologo.png" type="image/icon">
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head> 
<body>
  <header>
    <nav class="nav-wrapper">
      <div class="nav-links">
        <a href="index.html" class="indicator">INICIO</a>
        <a href="anuncios.html">ANUNCIOS</a>
      </div>
    </nav>

    <div class="logo">
      <img src="../static/img/icologo.png" alt="PGM Logo">
    </div>

      <div class="nav-link-solicitar">
        <a href="solicitar.html">SOLICITAR</a>
      </div>

    <a href="#" class="profile">
      <img src="../static/img/icoperfil.png" alt="Perfil" width="33">
    </a>
  </header>

  <main>
    <div class="grid items">
      <div class="card-container">
        <p class="card-title">VER ANUNCIOS</p>
        <div class="card-content">
          <a href="./anuncios.html" class="card-button">CLICK AQUÍ</a>
        </div>
      </div>

      <div class="card-container">
        <p class="card-title">SOLICITAR PUBLICACIÓN ANUNCIO</p>
        <div class="card-content">
          <a href="./solicitar.html" class="card-button">CLICK AQUÍ</a>
        </div>
      </div>
    </div>
  </main>

  <footer></footer>
  <script src="../static/js/scripts.js"></script>
</body>
</html>
