<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PGM · Registrarse</title>
    <link rel="icon" href="/img/icologo.png" type="image/icon">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/loginregister.css">
</head>
<body>

<header>
    <nav class="nav-wrapper">
        <div class="nav-links">
            <a href="index.html" class="indicator">INICIO</a>
            <a href="anuncios.html">ANUNCIOS</a>
        </div>
    </nav>

    <div class="logo">
        <img src="/img/icologo.png" alt="PGM Logo">
    </div>

    <div class="nav-link-solicitar">
        <a href="solicitar.html">SOLICITAR</a>
    </div>

    <a href="profile.html" class="profile">
        <img src="/img/icoperfil.png" alt="Perfil" width="33">
    </a>

</header>

<main>
    <h1 class="inicioSesion">Registro de Usuario</h1>

    <div class="login-container">
        <form id="registroForm">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required />
            </div>
            <div class="form-group">
                <label for="correoElectronico">Correo:</label>
                <input type="email" id="correoElectronico" name="correoElectronico" required />
            </div>
            <div class="form-group">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required />
            </div>
            <button type="submit" class="btn-entrar">Registrarse</button>
        </form>

        <div id="mensaje"></div>

        <p class="registro-texto">¿Ya tienes cuenta? <a th:href="@{/login}">Inicia sesión</a></p>
    </div>

    <div th:if="${exito}" style="color: #0079a6; margin-bottom: 15px;">
        <p th:text="${exito}"></p>
    </div>

    <div th:if="${error}" style="color: red; margin-bottom: 15px;">
        <p th:text="${error}"></p>
    </div>

</main>


<footer class="footerSoli">
    ©2025 PGM. Todos los derechos reservados
    <a href="terminos.html" id="btnTerms" class="btnTerms">
        TÉRMINOS Y CONDICIONES
    </a>
</footer>
<script src="/js/register.js"></script>
</body>
</html>
