<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PGM · Solicitar Anuncio</title>
  <link rel="icon" href="/img/icologo.png" type="image/icon">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/solicitar.css">
  <link rel="stylesheet" href="/css/modal.css">
</head>
<body>
  <header>
    <nav class="nav-wrapper">
      <div class="nav-links">
        <a href="index.html">INICIO</a>
        <a href="anuncios.html">ANUNCIOS</a>
      </div>
    </nav>

    <div class="logo">
      <img src="/img/icologo.png" alt="PGM Logo">
    </div>

      <div class="nav-link-solicitar">
        <a href="solicitar.html" class="indicator">SOLICITAR</a>
      </div>

    <a href="profile.html" class="profile">
      <img src="/img/icoperfil.png" alt="Perfil" width="33">
    </a>

  </header>

  <div class="container">

    <main>
      <section id="formulario" class="section">
        <h2>FORMULARIO DE PUBLICACIÓN</h2>
        <form id="solicitar-form">
          <div class="formulario-grid">
            <div class="col">
              <div class="form-row">
                <label for="titulo">Título del anuncio:</label>
                <input type="text" id="titulo" name="titulo" required />
              </div>

              <div class="form-row">
                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" maxlength="2000" required></textarea>
                <div style="text-align: right; font-size: 12px; color: #ffffff;">
                  <span id="char-count">0</span>/2000
                </div>
              </div>

              <div class="form-row">
                <label for="categoriaId">Categoría:</label>
                <select id="categoriaId" name="categoriaId" required>
                  <option value="">Selecciona una categoría</option>
                  <!-- Las opciones se cargarán dinámicamente -->
                </select>
              </div>

              <div class="form-row">
                <label for="localizacion">Localización:</label>
                <select id="localizacion" name="localizacion" required>
                  <option value="">Selecciona una provincia</option>
                  <option value="Álava">Álava</option>
                  <option value="Albacete">Albacete</option>
                  <option value="Alicante">Alicante</option>
                  <option value="Almería">Almería</option>
                  <option value="Asturias">Asturias</option>
                  <option value="Ávila">Ávila</option>
                  <option value="Badajoz">Badajoz</option>
                  <option value="Barcelona">Barcelona</option>
                  <option value="Burgos">Burgos</option>
                  <option value="Cáceres">Cáceres</option>
                  <option value="Cádiz">Cádiz</option>
                  <option value="Cantabria">Cantabria</option>
                  <option value="Castellón">Castellón</option>
                  <option value="Ciudad Real">Ciudad Real</option>
                  <option value="Córdoba">Córdoba</option>
                  <option value="La Coruña">La Coruña</option>
                  <option value="Cuenca">Cuenca</option>
                  <option value="Gerona">Gerona</option>
                  <option value="Granada">Granada</option>
                  <option value="Guadalajara">Guadalajara</option>
                  <option value="Guipúzcoa">Guipúzcoa</option>
                  <option value="Huelva">Huelva</option>
                  <option value="Huesca">Huesca</option>
                  <option value="Islas Baleares">Islas Baleares</option>
                  <option value="Jaén">Jaén</option>
                  <option value="León">León</option>
                  <option value="Lérida">Lérida</option>
                  <option value="Lugo">Lugo</option>
                  <option value="Madrid">Madrid</option>
                  <option value="Málaga">Málaga</option>
                  <option value="Murcia">Murcia</option>
                  <option value="Navarra">Navarra</option>
                  <option value="Orense">Orense</option>
                  <option value="Palencia">Palencia</option>
                  <option value="Las Palmas">Las Palmas</option>
                  <option value="Pontevedra">Pontevedra</option>
                  <option value="La Rioja">La Rioja</option>
                  <option value="Salamanca">Salamanca</option>
                  <option value="Santa Cruz de Tenerife">Santa Cruz de Tenerife</option>
                  <option value="Segovia">Segovia</option>
                  <option value="Sevilla">Sevilla</option>
                  <option value="Soria">Soria</option>
                  <option value="Tarragona">Tarragona</option>
                  <option value="Teruel">Teruel</option>
                  <option value="Toledo">Toledo</option>
                  <option value="Valencia">Valencia</option>
                  <option value="Valladolid">Valladolid</option>
                  <option value="Vizcaya">Vizcaya</option>
                  <option value="Zamora">Zamora</option>
                  <option value="Zaragoza">Zaragoza</option>
                  <option value="Ceuta">Ceuta</option>
                  <option value="Melilla">Melilla</option>
                </select>
              </div>

              <div class="form-row">
                <label for="precio">Precio:</label>
                <div style="display: flex; align-items: center; gap: 6px; width: 100%;">
                  <input type="text" id="precio" name="precio" required pattern="^\d+(\.\d{1,2})?$" title="Ingrese un número válido, con hasta 2 decimales" style="flex: 1;">
                  <select id="moneda" name="moneda" required style="width: 80px; text-align: center;">
                    <option value="€" selected>€</option>
                  </select>
                </div>
              </div>


              <div class="form-row">
                <label for="estado">Estado del producto:</label>
                <select id="estado" name="estadoArticuloId" required>
                  <option value="">Selecciona una opción</option>
                  <!-- Opciones se cargarán dinámicamente -->
                </select>
              </div>


              <div class="form-row">
                <label for="imagenes">Imágenes (máximo 6):</label>
                <input type="file" id="imagenes" name="imagenes" accept=".jpg,.jpeg,.png" multiple required />
                <div style="font-size: 12px; color: #ffffff; margin-top: 4px;">
                  Solo se permiten archivos .png y .jpg (máx. 6 imágenes, 2MB cada una)
                </div>
                <button type="button" id="btnClearImages" style="margin-top: 20px;">Quitar imágenes</button>
              </div>

              <div class="form-row">
                <label for="altImagen">Texto alternativo para las imágenes:</label>
                <input type="text" id="altImagen" name="altImagen" maxlength="150" placeholder="Descripción breve de las imágenes" />
              </div>
            </div>

            <div class="form-row logo-container">
              <img src="/img/icologo.png" alt="Logo de la empresa" class="logo-responsive">
            </div>
          </div>

          <button type="submit" id="btnEnviar" class="btnEnviar">Enviar</button>
        </form>
      </section>
    </main>
    <footer class="footerSoli">
      ©2025 PGM. Todos los derechos reservados
      <a href="/terminos.html" id="btnTerms" class="btnTerms">
        TÉRMINOS Y CONDICIONES
      </a>
    </footer>
  </div>
  <script src ="/js/solicitar.js"></script>
  <script src ="/js/modal-loader.js"></script>
</body>
</html>
