<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PGM | Inicio</title>
  <link rel="icon" href="img/icologo.png" type="image/icon">
  <link rel="stylesheet" href="../static/css/common.css">
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <header>
    <nav>
      <a href="index.html">INICIO</a>
      <a href="anuncios.html">ANUNCIOS</a>
      <a href="solicitar.html" th:unless="${esAdmin}">SOLICITAR</a>
    </nav>
    <div class="logo">
      <img src="img/icologo.png" alt="PGM Logo">
    </div>
    <a href="#" class="profile">
      <img src="img/icoperfil.png" alt="Perfil" width="33">
    </a>
  </header>
</body>
</html>